.control-panel-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.slider-container {
    flex-direction: row;
}

.slider {
    width: 50vw;
}

.button {
    width: 30px;
    height: 30px;
}

.increment {
    margin-right: 25px;
}

.decrement {
    margin-left: 10px;
}